body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--Primary-extra-light)
}
.topNav{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    margin: auto;
}
ul.nav{
list-style-type: none;
padding: none;
display: flex;
}
.navItem{
    padding: 16px 20px;
    text-decoration: none;
    font-size: var(--font-size-navigation);
    color: var(--Primary-extra-light);
}
.navItem:hover{
    color: var(--white);
    background-color: var(--Primary-dark);
}
.navItem.selected{
    color: var(--white);
    font-weight: 700;
}
.mobileMenu{
    display: none;
}
.heroContainer{
    margin: auto;
    width: 100%;
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    object-fit: cover;
}
section.skills{
    background-image: url('../images/skillsbackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 40px;
}
.skills .sectionTitle{
    text-align: center;
}
.skillsImage1{
    height: 200px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}
.skillsImage2{
    height: 200px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}
.skillsImage3{
    height: 200px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}
.flexContainer{
    display: flex;
}
.flexchild1{
    width: 33%;
    padding: 20px;
    text-align: center;
}
.flexchild2{
    width: 33%;
    padding: 20px;
    text-align: center;
}
.flexchild3{
    width: 33%;
    padding: 20px;
    text-align: center;
}
.skillAccordian1{
    display: none;
}
.skillAccordian2{
    display: none;
}
.skillAccordian3{
    display: none;
}
.projects{
    width: 100%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
}
.sectionTitle{
    font-size: var(--font-size-h2);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}
.projects .sectionTitle{
    text-align: center;
}
.projectContainer{
    padding-top: 20px;
    display: flex;
    gap: 24px;
    align-items: stretch;
}
.projectCard{
    width: 100%;
    background: var(--Primary-dark);
    border-radius: 0.25rem;
    position: relative;
}
.cardImage{
    width: 100%;
}
.cardContent{
    padding: 15px;
    vertical-align: middle;
}
.cardTitle{
    font-size: var(--font-size-h4);
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0.75rem;
    margin-top: 0;
}
.cardText{
    margin-bottom: 60px;
}
.btnPrimary1{
    border-radius: 0.25rem;
    background: var(--Secondary);
    padding: 0.625rem;
    color: var(--white);
    font-size: var(--font-size-button);
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    bottom: 20px;
}
.btnPrimary2{
    border-radius: 0.25rem;
    background: var(--Secondary);
    padding: 0.625rem;
    color: var(--white);
    font-size: var(--font-size-button);
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    bottom: 20px;
}
.btnPrimary3{
    border-radius: 0.25rem;
    background: var(--Secondary);
    padding: 0.625rem;
    color: var(--white);
    font-size: var(--font-size-button);
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    bottom: 20px;
}
.btnPrimary4{
    border-radius: 0.25rem;
    background: var(--Secondary);
    padding: 0.625rem;
    color: var(--white);
    font-size: var(--font-size-button);
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    bottom: 20px;
}
.btnPrimaryHover{
    border-radius: 0.25rem;
    background: var(--Secondary-dark);
    padding: 0.625rem;
    color: var(--white);
    font-size: var(--font-size-button);
    font-weight: 2.0rem;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    bottom: 20px;
}
section.works{
    background-color: var(--Primary-dark);
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 40px;
}
.pageTitle{
    font-size: 3.5rem;
    color: white;
}
.workGrid{
    display: grid;
}
.workCard{
    display: inline-block;
    width: 95%;
    border-radius: 1.0rem;
    margin: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
}
.workImage{
    display: inline-block;
    width: 550px;
    vertical-align: middle;

}
.workContainer{
    display: inline-block;
    width: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    text-align: right;
}
.workTitle{
    font-size: var(--font-size-h4);
    padding: 20px;
}
.workContent{
    padding-bottom: 50px;
    padding-left: 20px;
    margin: auto;
}
.wrkbtn1{
    border-radius: 0.25rem;
    background: var(--Primary);
    padding: 0.625rem;
    margin-left: 0.625rem;
    margin-top: 40px;
    color: var(--white);
    font-size: var(--font-size-button);
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
.wrkbtn2{
    border-radius: 0.25rem;
    background: var(--Primary);
    padding: 0.625rem;
    margin-left: 0.625rem;
    margin-top: 40px;
    color: var(--white);
    font-size: var(--font-size-button);
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.wrkbtn3{
    border-radius: 0.25rem;
    background: var(--Primary);
    padding: 0.625rem;
    margin-left: 0.625rem;
    color: var(--white);
    font-size: var(--font-size-button);
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.wrkbtn4{
    border-radius: 0.25rem;
    background: var(--Primary);
    padding: 0.625rem;
    margin-left: 0.625rem;
    color: var(--white);
    font-size: var(--font-size-button);
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.wrkbtnHover{
    border-radius: 0.25rem;
    background: var(--Primary-dark);
    padding: 0.625rem;
    color: var(--white);
    font-size: var(--font-size-button);
    font-weight: 2.0rem;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
footer{
    background-color: #000000;
    background-size: cover;
}
.footerContainer{
    width: var(--container-width);
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
.footerTitle{
    font-size: var(--font-size-h5);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.75rem;
    margin-top: 0;
}
.footerCopy{
    font-size: var(--font-size-body-small);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.75rem;
}
.footerText{
    padding-bottom: 30px;
}
@media all and (max-width: 1400px) {
    .heroImage {
        width: 20%;
    }
    .heroContent {
        width: 60%;
    }
}
@media all and (max-width: 992px) {
    .heroImage {
        width: 20%;
    }
    .heroContent {
        width: 80%;
    }
    .projectContainer{
        flex-wrap: wrap;
    }
    .projectCard{
        width: 48%;
    }
}
@media all and (max-width: 768px) {
    .heroContainer{
        flex-direction: column;
    }
    .heroTitle{
        text-align: center;
    }
    .heroImage {
        width: 40%;
    }
    .heroContent {
        width: 100%;
    }
    .projectCard{
        width: 100%;
    }
}
@media all and (max-width: 576px) {
    .mobileMenu {
        display: block;
    }
    ul.nav{
        display: none;
    }
    .topNav{
        padding: 20px 0;
    }
}